.services-page {
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    margin-top: 60px;
    display: flex;
   /* border: 1px solid #ccc; */
   overflow-x: hidden;
   overflow-y: hidden;
   font:inherit;
   letter-spacing: 2px;
}


.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    padding: 2rem;
    overflow-y: auto;
    max-height: calc(100vh-60px);
    width: 100%;
    overflow-x: clip;
    box-sizing: border-box;
}

.services-container {
    margin-left: 50px;
}

.services-container .services-text {
    margin-left: 30px;
}